<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
    <!--
         ...................... WANT TO USE A CUSTOM PORT? .....................

         By default DuckDuckGoog's local web server is listening on port 3000,
         however if this conflicts with another service on your computer, or
         you just prefer a different port, it is easy to use one of your
         choosing.

         > USING A CUSTOM PORT:
           To use a custom port, fill the marked <string> tags with the port
           number you want.

         > REVERT TO DEFAULT PORT:
           To revert back to the default port (3000), remove all characters
           from between the <string> tags.

         NOTE: Any port number less than 1024 requires root access, so I
         recommend sticking to something above 1024.

         .......................................................................

         > EXAMPLE
           <string>1234</string>

         .......................................................................

    -->
		<key>PORT</key>
    <string></string>

    <!--
         ................. WANT TO USE A CUSTOM SEARCH ENGINE? .................

         By default any non-bang searches will be sent to Google, however you
         can specify a custom search engine instead.

         > USING A CUSTOM SEARCH ENGINE
           To use a custom search engine, fill the marked <string> tags with
           the URL of the search engine. Your search query will be appended to
           the end.

         > REVERT TO DEFAULT SEARCH ENGINE
           To revert back to using Google, remove all characters from between
           the <string> tags.

         You changes will be applied the next time you log in.

         .......................................................................

         Here are some popular search engine URLs for your convenience:

             Bing:      https://www.bing.com/search?q=

             Yahoo:     https://search.yahoo.com/search?p=

             Baidu:     http://www.baidu.com/s?wd=

         .......................................................................

         > EXAMPLE
           <string>https://www.bing.com/search?q=</string>

         .......................................................................
    -->
		<key>SEARCH_ENGINE</key>
    <string></string>

	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.evanrelf.DuckDuckGoog</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>./usr/local/bin/node REPLACEME/app.js</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
