<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PORT</key>
    <string>REPLACE_PORT</string>
		<key>SEARCH_ENGINE</key>
    <string>REPLACE_SEARCH_ENGINE</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>local.duckduckgoog</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>./usr/local/bin/node REPLACE_INSTALL_DIR/app.js</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
